.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image-container {
  position: relative;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 10px;
}

.profile-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  color: #fff;
  font-size: 24px;
  border-radius: 50%;
}

.image-upload {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.profile-details {
  text-align: center;
}

.profile-details h2 {
  margin-bottom: 10px;
}

.profile-details p {
  margin: 5px 0;
}
